# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Market data
data/raw/*
data/processed/*

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

